{
  "cf_handle": "JEX01",
  "cf_api_key": "dcf5c51b532a337b0c65d82cd6fb138359bcda65",
  "cf_api_secret": "c24877171eb56a43015c8cd01760460b27ebf9aa",
  "github_repo": "https://github.com/JEX01/DSA-CodeForce.git",
  "github_token": "YOUR_Token"
}
